<!doctype html>
<html lang="en">
  <head>
  <%= bootstrap_assets %>
   
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="contianer">
    	<div class="row-fluid">
	     <div class="navbar">
	       <div class="navbar-inner">
	         <a class="brand" href="#">Foodholic</a>
	       </div>
	     </div>
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>