 <% 
 	if admin?
 %>
	<div class="row">
		<div class="span12">
			<form action="/recipes/create" method="post">	
				<div class="control-groups">
				  <div class="controls">
				    <% if flash[:error]  %>
				      <div class="alert alert-error">
				        <%=   "#{flash[:error]}" 
				        %>
				      </div>
				    <% end %>
				  </div>
				</div>
				<div class="control-groups">
					<div class="controls">
						<% if flash[:notice]  %>
						  <div class="alert fade in">
		            <button type="button" class="close" data-dismiss="alert">×</button>
						    <%=    
						    	"#{flash[:notice]}"
						    %>
						  </div>
						<% end %>
					</div>
				</div>
				<div class="controls">
		 			<label for="title">Enter your Recipe Title</label>
			    <input class="span5" name="title" type="text" placeholder="title">
				</div>
		    <div class="controls">
		    <label for="title">Select your ingredients below</label>
					<select id="select-ingredients" name="ingredients[]" multiple="multiple">
					</select>
		    </div>
		    <br>
		    <div class="controls">
		    <label for="add-ingredients">Can add more ingredients</label>
		    	<input class="span5 add-ingredients"  name="add_ingredients" type="text" data-role="tagsinput" placeholder="example... pumpkin">
		    	<button class='btn btn-default' id="add-ingredients">Click to add</button>
		    </div>
		    <br>
		    <div class="controls">
			    <label for="title">Method</label>
			    <textarea class="span6" name="method"   rows="10" col="20"></textarea>
		    </div>
		    <div class="controls">
		    	<input type="hidden" name="user_id" value=<%= cookies[:id]%>>
		    	<input type="hidden" name="login" value=<%= cookies[:login]%>>
		    </div>
		    <br>
				<input id ="db-ingredients" type="hidden" name="db_ingredients" value="">
		    <button type="submit" class="btn">Submit</button>
			</form>
		</div>
	</div>
 <% else 
 		redirect "/login"
  end %>






