
<!-- 
<form action="/recipes/create" method="post">
	<label for="title">:title</label>
	<input type="text" name="title">
	<label for="Ingredients">:Ingredients</label>
	<input type="textarea" name="ingredients">
	<label for="method">Method:</label>
	<textarea name="method" id="" cols="30" rows="10">
	</textarea>
	<input type="hidden" name="user_id" value=<%= session[:id]%>>
	<input type="hidden" name="login" value=<%= session[:login]%>>
	<input type="submit">
</form> 
 -->

 <% 
 	if admin?
 %>
  
	<div class="row">
		<div class="span12">
			<form action="/recipes/create" method="post">	
				<div class="controls">
		 			<label for="title">recipe Title</label>
			    <input class="span5" name="title" type="text" placeholder="title">
				</div>
		  <!--   <div class="control">
					<label for="ingredients">ingredients</label>
			    <textarea class="span5" name="ingredients" rows="3" col="20"></textarea>
		    </div> -->
		    <div class="controls">
			    <label for="title">Method</label>
			    <textarea class="span6" name="method"   rows="10" col="20"></textarea>
		    </div>
		    <div class="controls">
		    	<input type="hidden" name="user_id" value=<%= cookies[:id]%>>
		    	<input type="hidden" name="login" value=<%= cookies[:login]%>>
		    </div>
		    <br>
		    <div class="controls">
		    <label for="title">Select your ingredients below</label>
					<select id="select-ingredients" multiple="multiple">
					</select>
		    </div>
		    <div class="controls">
		    <label for="add-ingredients">Can add more ingredients</label>
		    	<input class="span5 add-ingredients"  name="add_ingredients" type="text" data-role="tagsinput" placeholder="example... pumpkin">
		    	<button class='btn btn-default' id="add-ingredients">Click to add</button>
		    </div>
		    <button type="submit" class="btn">Submit</button>
			</form>
		</div>
	</div>
 <% else 
 		redirect "/login"
  end %>






