 
<div class="span12">
	<div class="row">
 		<div class="page-header">
			<h1>	
				<%= @recipe.title %>
			</h1>
 		</div>
		<img src="http://lorempixel.com/400/200/food/" alt="">
		<h3> Ingredients </h3>
		<hr>
		 
		<h3>Method</h3>
		<hr>
		<p>
			<%=  @recipe.method %>
		</p>
	</div>
</div>