<form action="/signup" method="POST">
    Name: <input type="text" name="post[name]" required>
    <br/>
    email	: <input type="email" name="post[email]" type="email" required>
    <br/>
    password : <input name="post[password]" type="password" required>
    <input type="submit">
</form>