<form action="/signup" method="POST">
  Name: <input type="text" name="name" required>
  <br/>
  email	: <input name="email" type="email" required>
  <br/>
  password : <input name="password" type="password" required>
  <br/>
  confirm passowrd : <input type="password" name="password_confirmation" required>
  <input type="submit">
</form>