<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
	<secton>
	<p>This will always be rendered  </p>
		<%= yield %>
	</secton>
</body>
</html>